streamlit

yt-dlp>=2026.07.04
pydub
ffmpeg-python

openai-whisper

torch
torchvision
torchaudio

numba>=0.59
llvmlite>=0.42

langchain==0.3.27
langchain-core==0.3.79
langchain-community==0.3.29
langchain-text-splitters==0.3.11

langchain-chroma==0.2.5
chromadb==1.0.20

sentence-transformers==5.1.0
huggingface-hub==0.35.0

langchain-mistralai==0.2.11
mistralai==1.9.10

numpy
pandas
tiktoken

fpdf2
reportlab

python-dotenv