streamlit

yt-dlp
pydub
ffmpeg-python

openai-whisper
torch
torchvision
torchaudio

numba>=0.59.0
llvmlite>=0.42.0

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-mistralai

chromadb

sentence-transformers
huggingface-hub

mistralai

tiktoken
numpy
pandas

fpdf2
reportlab

python-dotenv